/* Mobile: width < 740px  */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
}

/* Tablet: width >= 740px and width <= 1024px */
@media (min-width: 740px) and (max-width: 1024px) {
    
}

/* Mobile + Tablet: width <= 1024px */
@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}

/* PC: width > 1024px */
@media (min-width: 1025px) {
    .hide-on-pc {
        display: none;
    }
}