/* Mobile: width < 740px  */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .text-underline::before {
        bottom: 1px;
    }

    .tour-wrap {
        padding: 20px 30px 20px 50px;
    }

    .tour-slide__img-wrap {
        padding: 20px 15px 0 35px;
    }

    .tour-slide__time {
        position: unset;
        background-color: transparent;
    }

    .tour-slide__time-content-wrap {
        margin: 0 15px 0 35px;
    }
    
    .tour-slide__cross::before {
        content: "";
    }

    .tour__item {
        padding: 0 30px 0 50px;
    }

    .footer__heading-wrap {
        text-align: center;
    }

    .footer__input-wrap {
        text-align: center;
    }

    .footer__input {
        margin: 0;
    }

    .footer__submit {
        width: 70%;
    }

    .footer__img {
        height: 1664px;
    }
}

/* Tablet: width >= 740px and width <= 1024px */
@media (min-width: 740px) and (max-width: 1024px) {
    

    .tour-wrap {
        padding: 20px 43px 20px 23px;
    }

    .tour-slide__img-wrap {
        padding: 20px 15px 20px 35px;
    }

    .tour-slide__time {
        padding: 0 23px 0 43px;
        background-color: transparent;
    }

    .footer__submit {
        min-width: 232px;
    }

    .footer__img {
        height: 1409px;
    }
}

/* Mobile + Tablet: width <= 1024px */
@media (max-width: 1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .no-margin {
        margin: 0;
    }

    .content {
        height: 1402px;
        background-position-x: 50%;
    }

    .header {
        display: block;
        height: 125px;
    }

    .header__logo-wrap {
        width: 100%;
        text-align: center;
    }

    .mobile-tablet-menu {
        text-align: center;
        margin-top: 5px;
        display: block;
    }

    .menu-img-wrap {
        padding: 10px;
        height: 45px;
        display: inline-block;
    }

    .mobile-tablet-menu-img {
        width: 25px;
    }

    .checkbox-show-navbar-mb-tablet:checked ~ .mobile-tablet-navbar {
        right: 0;
    }

    .mobile-tablet-navbar {
        position: fixed;
        top: 0;
        right: -300px;
        bottom: 0;
        width: 300px;
        transition: right ease 0.8s;
        overflow-y: auto;
    }

    .header__navbar-list {
        background-color: #555555;
        padding: 40px;
    }

    .header__navbar-item {
        display: block;
        margin-bottom: 30px;
    }

    .header__navbar-link {
        font-size: 2.4rem;
        font-weight: bold;
        padding: 0;
        line-height: 34px;
    }

    .header__navbar-subnav {
        display: block;
        position: unset;
        box-shadow: none;
    }

    .subnav__item {
        background-color: #555;
        border-bottom: none;
        padding: 0 0 0 24px;
    }

    .subnav__link {
        font-size: 1.4rem;
        color: var(--white-color);
        text-transform: uppercase;
        line-height: 34px;
    }

    .navbar-mb-tablet-close {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 45px;
        padding: 10px;
    }

    .navbar-mb-tablet-close-img {
        width: 20px;
    }

    .search__select {
        padding: 0 48px;
    }

    .search__select-icon {
        right: calc(8px + 48px);
        font-size: 1.6rem;
    }

    .search__select-list {
        margin: 0 48px;
    }

    .search__typology-item {
        margin: 0 63px 30px 63px;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .destination {
        margin: 0 45px;
    }

    .view-all-packages-wrap {
        --height: 320px;
    }

    .view-all-packages {
        display: block;
        top: 0;
        left: 0;
        transform: translate(0);
    }

    .view-all-packages-heading-wrap {
        padding: 70px 8px 0 55px;
        display: block;
    }

    .view-all-packages-btn-wrap {
        margin-bottom: 26px;
    }

    a.view-all-packages-btn {
        margin: 0 auto;
        height: 44px;
    }

    .tour-slide__time-item {
        display: block;
    }

    .tour-slide__time-content-wrap {
        background-color: #14b9d5;
        display: flex;
        height: 100%;
        position: relative;
    }

    .tour-slide__time-content {
        position: unset;
    }

    .tour-slide__cross::before {
        left: 100%;
        right: unset;
        z-index: 1;
    }

    .tour__item {
        margin-bottom: 20px;
    }

    .promotions__item {
        margin: 30px 15px 15px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .promotions__item-price-wrap {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    .footer__input-wrap {
        margin-top: 60px;
    }

    .footer__content-img-wrap {
        margin-bottom: 25px;
    }

    .footer__content-social {
        padding: 25px 0 35px 45px;
    }

    .footer__content-item {
        padding: 0 0 35px;
    }

    .footer__content-item-title {
        padding-left: 45px;
    }

    .footer__content-sub-list {
        padding-left: 45px;
    }

    .footer__end {
        display: block;
        text-align: center;
        padding: 0;
    }

    .footer__end-text {
        padding: 20px;
    }
}

/* PC: width > 1024px */
@media (min-width: 1025px) {
    .hide-on-pc {
        display: none;
    }

    .tour-slide__time-content-wrap {
        display: flex;
        padding-left: 16px;
        width: 100%;
    }

    .tour-slide__cross::before {
        right: -48px;
    }
}